.cards {
  width: 1200px;
  @media (max-width: 1200px) {
    width: 100%;
  }
  &__item {
    background: #f6f6f6;
    padding: 12px;
    border-radius: 10px;
    .info {
      color: red;
      font-size: 16px;
      &__wrapper {
        display: flex;
        .nickname {
          color: #403d3d;
          display: flex;
          flex-direction: column;
          padding-left: 10px;
          span {
            &:first-child {
              font-weight: 600;
            }
          }
        }
      }
      &__birthday,
      &__owner {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        color: #403d3d;
        .title {
          padding-right: 10px;
          font-size: 16px;
          width: 9%;
          display: flex;
          justify-content: flex-end;
          font-weight: 600;
          span {
            display: flex;
            overflow: hidden;
            position: relative;
            white-space: nowrap;
          }
        }
        .date {
        }
        .name {
          span {
            margin-right: 10px;
            svg {
              fill: #0198c9;
            }
          }
        }
      }
    }
  }
}