.layout {
  position: relative;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 25px;
    font-weight: 500;
  }
  .loading {
    width: 100%;
    height: 100vh !important;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

